<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>
<div class="footer-container">
    <div class="footer-col">
        <div><img src="../assets/images/location.png" alt="Location Icon"></div>
        <div><p>475 N Main St,<br>Meadville, PA 16335<br>Alden Room 109</p></div>
    </div>
    <div class="footer-col">
        <div><img src="../assets/images/mail.png" alt="Mail Icon"></div>
        <div><p>Email the professor <br><a href="mailto:jjumadinova@allegheny.edu">here</a></p></div>
    </div>
    <div class="footer-col">
        <div><img src="../assets/images/github.png" alt="GitHub Icon"></div>
        <div><p>Check out the GitHub repo <a href="#">here</a></p></div>
    </div>
</div>
<div class="footer-row">
    <p>&copy; 2025 All Rights Reserved | Allegheny College</p>
</div>